h1 {
    font-size: 2.5em;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;    
}
div.normal {
    font-size: 1.5em;
    background-color: #666666;
    line-height: 1.6;
    margin: 10px 0;
}
p#text
{
    font-size: 0.8em;
    background-color: #f00202;
    line-height: 1.8;
    margin: 15px 0;
}
